:root{
    --main-font:            'Noto Sans JP', sans-serif;
    --PrincipalColor:       #8b0000;
    --SecondaryColor:       #c00c0c;
    --warm-black:           #141312;
    --black:                #282623;
    --grey:                 #b0b0b0;
    --just-white:           #FFFFFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;    
    font-family: var(--main-font);
}
main{
    height: 100vh;
    width: 100%;
    background-image: url('https://data.whicdn.com/images/203973635/original.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15vh;
    position: relative;
}

/* Colors */
.bug{ 
    background: #afbf28;
}
.dark{ 
    background: #513c2f;
}
.dragon{ 
    background: #7961e3;
}
.electric{ 
    background: #f9b716;
}
.fairy{ 
    background: #f6b5f6;
}
.fighting{ 
    background: #7b311b;
}
.fire{ 
    background: #eb3e0d;
}
.flying{ 
    background: #98a9f4;
}
.ghost{ 
    background: #6262b5;
}
.grass{ 
    background: #80c944;
}
.ground{ 
    background: #d8b862;
}
.ice{ 
    background: #afebff;
}
.normal{ 
    background: #d0cbc4;
}
.poison{ 
    background: #9a509b;
}
.psychic{ 
    background: #ed4883;
}
.rock{ 
    background: #baa257;
}
.steel{ 
    background: #b7b7c5;
}
.water{ 
    background: #3597f9;
}

/* Main Container */
.main-container{
    min-width: 320px;
    max-width: 500px;
    height: 75vh;
    margin: 0 auto;
}

/* Pokedex */
.pokedex{
    width: 100%;
    height: 100%;
    background-color: var(--SecondaryColor);
    border-radius: 18px;
    box-shadow: -12px 10px 1px 10px #610708;
}

/* Pokedex header */
.pokedex__header{
    width: 100%;
    height: 15%;
    position: relative;
    background-color: var(--PrincipalColor);
    border-radius: 18px;
}
.container-lights{
    width: 65%;
    height: 100%;
    position: absolute;
    padding: 15px;
    background-color: var(--PrincipalColor);
    border-radius: 18px 0 80px 0;
    box-shadow: -5px 15px 1px #610708;
    display: flex;
}
.bar__bottom{
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--SecondaryColor);
}
.camera{
    width: 65px;
    height: 65px;
    background: rgb(247,247,247);
background: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(236,236,236,1) 6%, rgba(0,212,255,1) 87%);
    border: 4px solid var(--just-white);
    border-radius: 100px;
    box-shadow: 0px 0px 5px 5px #610708;
    position: relative;
}
.camera__reflection{
    width: 20px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--just-white);
    position: absolute;
    left: calc(50% - 10px);
    top: 4px;
    background-color: rgb(197, 248, 255);
}
.light{
    width: 18px;
    height: 18px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 5px #610708;
    margin-left: 12px;
}
.red{
    background: rgb(227,110,110);
background: radial-gradient(circle, rgba(227,110,110,1) 0%, rgba(230,81,81,1) 38%, rgba(222,65,65,1) 74%);
}
.yellow{
    background: rgb(255,255,158);
background: radial-gradient(circle, rgba(255,255,158,1) 0%, rgba(255,255,98,1) 38%, rgba(254,254,66,1) 74%);
}
.green{
    background: rgb(159,238,129);
background: radial-gradient(circle, rgba(159,238,129,1) 0%, rgba(135,240,96,1) 38%, rgba(116,237,70,1) 74%);
}

/* Pokedex image */
.pokedex__pokemon{
    width: 90%;
    min-width: 300px;
    height: 52%;
    background-color: var(--grey);
    border-radius: 18px;
    margin: 40px auto 0;
    padding-top: 25px;
}
.pokemon-image{
    margin:0 auto;
    width: 90%;
    height: 25vh;
    background-color: #f9f4cf;
    border-radius: 18px;
    border: 4px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokemon-image>img{
    width: 50%;
    height: 80%;
    margin: 0 auto;
}
.items-image{
    margin: 15px auto 0;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.pokemon__detail{
    padding: 20px 24px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid black;
    box-shadow: 0 0px 1px 1px var(--warm-black);
    transition: all 0.1s;
}
.pokemon__detail:hover{
    box-shadow: 0 0px 5px 3px var(--warm-black);
    transition: all 0.3s;
}
.pokemon__number{
    padding: 8px;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--just-white);
    background-color: var(--warm-black);
    border: 5px solid #00645c;
    border-radius: 10px;
}
.arrows{
    width: 65px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;    
}
.arrow__left{
    background-image: url('https://img.icons8.com/ios-filled/50/000000/chevron-left.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    cursor: pointer;
    transition: all .5s;
}
.arrow__left:hover{
    opacity: .5;
    transition: all .5s;
}
.arrow__right{
    background-image: url('https://img.icons8.com/ios-filled/50/000000/chevron-right.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    cursor: pointer;
    transition: all .5s;
}
.arrow__right:hover{
    opacity: .5;
    transition: all .5s;
}

/* Pokedex search*/
.pokedex__search{
    width: 90%;
    height: auto;
    margin: 25px auto 0;
    position: relative;
}
.pokemon__name{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    background: radial-gradient(circle, rgba(151,238,129,1) 0%, rgba(98,221,67,1) 38%, rgba(58,181,27,1) 74%);
    border-radius: 10px;
    border: 2px solid var(--PrincipalColor);
    box-shadow: 0 0 1px 5px var(--PrincipalColor);
    text-align: center;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 400;
}
.option-buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--just-white);
    width: 100px;
    height: 50px;
    border-radius: 100px;
    padding: 10px;
    box-shadow: 0px 0 2px 2px black;
    transition: all .5s;
}
.button:hover{
    box-shadow: 0px 0 5px 5px black;
    transition: all .5s;
}
.search{
    background: linear-gradient(190deg, rgba(61,220,240,1) 0%, rgba(18,186,208,1) 38%, rgba(0,152,171,1) 74%);
}
.random{
    background: linear-gradient(190deg, rgba(250,161,111,1) 0%, rgba(250,139,75,1) 38%, rgba(224,94,20,1) 74%);
}

/* Modal */
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 45vw;
    min-width: 300px;
    height: auto;
    background: var(--just-white);
    border-radius: 18px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
.close{
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: var(--PrincipalColor);
    color: var(--just-white);
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}
.modal-close{
    transform: translateY(-200%);
}
.modal__body{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}
.modal__body h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.image__modal{
    width: 250px;
    height: 350px;
    margin: 0 auto;
}
.image__modal > img{
    width: 100%;
    height: 100%;    
}
.pokemon-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pokemon-info h3{
    font-size: 2rem;
    font-weight: 400;
}
.pokemon-info p{
    font-size: 1.2rem;
    font-weight: 300;
}
.pokemon-info__right > p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pokemon-info__right > p > span{
    margin: 0 10px;
}
.type{
    padding: 10px;
    border-radius: 5px;
    color: var(--just-white);
}