:root{
    --main-font:            'Noto Sans JP', sans-serif;
    --PrincipalColor:       #8b0000;
    --SecondaryColor:       #c00c0c;
    --warm-black:           #141312;
    --black:                #282623;
    --grey:                 #b0b0b0;
    --just-white:           #FFFFFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;    
    font-family: var(--main-font);
}

/* Main Container */
.main-container{
    min-width: 320px;
    max-width: 500px;
    height: 75vh;
    margin: 10vh auto;
    /* background-color: red; */
}

/* Pokedex */
.pokedex{
    width: 100%;
    height: 100%;
    background-color: var(--SecondaryColor);
    border-radius: 18px;
    box-shadow: -12px 10px 1px 10px #610708;
}

/* Pokedex header */
.pokedex__header{
    width: 100%;
    height: 15%;
    position: relative;
    background-color: var(--PrincipalColor);
    border-radius: 18px;
}
.container-lights{
    width: 65%;
    height: 100%;
    position: absolute;
    padding: 15px;
    background-color: var(--PrincipalColor);
    border-radius: 18px 0 80px 0;
    box-shadow: -5px 15px 1px #610708;
    display: flex;
}
.bar__bottom{
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--SecondaryColor);
}
.camera{
    width: 75px;
    height: 75px;
    background: rgb(247,247,247);
background: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(236,236,236,1) 6%, rgba(0,212,255,1) 87%);
    border: 4px solid var(--just-white);
    border-radius: 100px;
    box-shadow: 0px 0px 5px 5px #610708;
    position: relative;
}
.camera__reflection{
    width: 20px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--just-white);
    position: absolute;
    left: calc(50% - 10px);
    top: 4px;
    background-color: rgb(197, 248, 255);
}
.light{
    width: 18px;
    height: 18px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 5px #610708;
    margin-left: 12px;
}
.red{
    background: rgb(227,110,110);
background: radial-gradient(circle, rgba(227,110,110,1) 0%, rgba(230,81,81,1) 38%, rgba(222,65,65,1) 74%);
}
.yellow{
    background: rgb(255,255,158);
background: radial-gradient(circle, rgba(255,255,158,1) 0%, rgba(255,255,98,1) 38%, rgba(254,254,66,1) 74%);
}
.green{
    background: rgb(159,238,129);
background: radial-gradient(circle, rgba(159,238,129,1) 0%, rgba(135,240,96,1) 38%, rgba(116,237,70,1) 74%);
}

/* Pokedex image */
.pokedex__pokemon{
    width: 90%;
    min-width: 300px;
    height: 50%;
    background-color: var(--grey);
    border-radius: 18px;
    margin: 50px auto 0;
    padding-top: 25px;
}
.pokemon-image{
    margin:0 auto;
    width: 90%;
    height: 25vh;
    background-color: var(--just-white);
    border-radius: 18px;
    border: 4px solid var(--black);
}
.items-image{
    margin: 15px auto 0;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.pokemon__random{
    padding: 20px 24px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid black;
    box-shadow: 0 0px 1px 1px var(--warm-black);
    transition: all 0.1s;
}
.pokemon__random:hover{
    box-shadow: 0 0px 5px 3px var(--warm-black);
    transition: all 0.3s;
}
.speaker{
    width: 65px;
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    row-gap: 5px;
    
}
.speaker__color{
    background-color: var(--warm-black);
}